﻿@model IEnumerable<Mitt.Commons.ViewModels.UserProfileViewModel>

@{
    ViewData["Title"] = "User Profile";
    Layout = "~/Views/Shared/_AceAdminLayout.cshtml";

}

<h1>User Profile</h1>
<br />
<div class="hidden-sm hidden-xs action-buttons">
    <table class="table table-bordered width-50" align="center">
        <tr>
            <form asp-action="Index">
            <td align="left">
                @using (Html.BeginForm("Index", "Skill", FormMethod.Get))
                {
                    @Html.TextBox("search")
                    <input type="submit" value="Search" align="right" />
                }
            </td>
            </form>
            <td align="right">
                <a class="btn btn-primary btn-sm" asp-action="Create">
                    Register
                </a>
            </td>
        </tr>
    </table>
</div>

<br />
<div class="table-responsive">
    <table class="table table-bordered width-50" align="center">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Username)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Address)</th>
                <th>@Html.DisplayNameFor(model => model.Bod)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                @*<th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
                    <th>@Html.DisplayNameFor(model => model.CreatedOn)</th>
                    <th>@Html.DisplayNameFor(model => model.ModifiedBy)</th>
                    <th>@Html.DisplayNameFor(model => model.ModifiedOn)</th>
                    <th>@Html.DisplayNameFor(model => model.DeletedBy)</th>
                    <th>@Html.DisplayNameFor(model => model.DeletedOn)</th>
                    <th>@Html.DisplayNameFor(model => model.IsDelete)</th>*@
                
            </tr>
        </thead>
        <tbody>
            @{ foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Username)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Address)</td>
                        <td>@Html.DisplayFor(modelItem => item.Bod)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        @*<td>@Html.DisplayFor(modelItem => item.CreatedBy)</td>
                            <td>@Html.DisplayFor(modelItem => item.CreatedOn)</td>
                            <td>@Html.DisplayFor(modelItem => item.ModifiedBy)</td>
                            <td>@Html.DisplayFor(modelItem => item.ModifiedOn)</td>
                            <td>@Html.DisplayFor(modelItem => item.DeletedBy)</td>
                            <td>@Html.DisplayFor(modelItem => item.DeletedOn)</td>
                            <th>@Html.DisplayFor(model => item.IsDelete)</th>*@

                        @*<td>

                            <div class="hidden-sm hidden-xs btn-group">
                                <a class="btn btn-success btn-sm" asp-action="Edit" asp-route-id="@item.IdUserProfile">
                                    Add Now
                                </a>

                                
                            </div>
                        </td>*@
                    </tr>
                } }
        </tbody>
    </table>
</div>