﻿@model Mitt.Commons.ViewModels.SkillViewModel

@{
    ViewData["Title"] = "Delete Customer Relation";
}

<hi>DELETE Skill</hi>

<div>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(o => o.SkillName)</dt>
        <dt class="col-sm-10">@Html.DisplayFor(o => o.SkillName)</dt>

        <dt class="col-sm-2">@Html.DisplayNameFor(o => o.CreatedBy)</dt>
        <dt class="col-sm-10">@Html.DisplayFor(o => o.CreatedBy)</dt>

        <dt class="col-sm-2">@Html.DisplayNameFor(o => o.CreatedOn)</dt>
        <dt class="col-sm-10">@Html.DisplayFor(o => o.CreatedOn)</dt>

        <dt class="col-sm-2">@Html.DisplayNameFor(o => o.ModifiedBy)</dt>
        <dt class="col-sm-10">@Html.DisplayFor(o => o.ModifiedBy)</dt>

        <dt class="col-sm-2">@Html.DisplayNameFor(o => o.ModifiedOn)</dt>
        <dt class="col-sm-10">@Html.DisplayFor(o => o.ModifiedOn)</dt>

        <dt class="col-sm-2">@Html.DisplayNameFor(o => o.IsDelete)</dt>
        <dt class="col-sm-10">@Html.DisplayFor(o => o.IsDelete)</dt>
    </dl>
</div>

<form asp-action="Delete">
    <input asp-route-id="@Model.SkillId" type="submit" value="Delete" class="btn btn-danger btn-sm" OnClick="return confirm('Yakin Yang Bener Bakalan lu Delete?')" />
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}