﻿@model Mitt.Commons.ViewModels.SkillLevelViewModel

@{ ViewData["Title"] = "Create Skill Level";
    Layout = "~/Views/Shared/_AceAdminLayout.cshtml";
}


<h1>Skill Level</h1>

<h4>Add Now</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SkillLevelName" class="control-label"></label>
                <input asp-for="SkillLevelName" class="form-control" />
                <span asp-validation-for="SkillLevelName" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-sm" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
