﻿@model IEnumerable<Mitt.Commons.ViewModels.SkillLevelViewModel>

@{
    ViewData["Title"] = "Skill Level";
    Layout = "~/Views/Shared/_AceAdminLayout.cshtml";

}

<h1>Skill Level</h1>
<br />
<div class="hidden-sm hidden-xs action-buttons">
    <table class="table table-bordered width-50" align="center">
        <tr>
            <form asp-action="Index">
            <td align="left">
                @using (Html.BeginForm("Index", "CustomerRelation", FormMethod.Get))
                {
                    @Html.TextBox("search")
                    <input type="submit" value="Search" align="right" />
                }
            </td>
            </form>
            <td align="right">
                <a class="btn btn-primary btn-sm" asp-action="Create">
                    Add Now
                </a>
            </td>
        </tr>
    </table>
</div>

<br />
<div class="table-responsive">
    <table class="table table-bordered width-50" align="center">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SkillLevelId)</th>
                <th>@Html.DisplayNameFor(model => model.SkillLevelName)</th>
                @*<th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
                    <th>@Html.DisplayNameFor(model => model.CreatedOn)</th>
                    <th>@Html.DisplayNameFor(model => model.ModifiedBy)</th>
                    <th>@Html.DisplayNameFor(model => model.ModifiedOn)</th>
                    <th>@Html.DisplayNameFor(model => model.DeletedBy)</th>
                    <th>@Html.DisplayNameFor(model => model.DeletedOn)</th>
                    <th>@Html.DisplayNameFor(model => model.IsDelete)</th>*@
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{ foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.SkillLevelId)</td>
                        <td>@Html.DisplayFor(modelItem => item.SkillLevelName)</td>
                        @*<td>@Html.DisplayFor(modelItem => item.CreatedBy)</td>
                            <td>@Html.DisplayFor(modelItem => item.CreatedOn)</td>
                            <td>@Html.DisplayFor(modelItem => item.ModifiedBy)</td>
                            <td>@Html.DisplayFor(modelItem => item.ModifiedOn)</td>
                            <td>@Html.DisplayFor(modelItem => item.DeletedBy)</td>
                            <td>@Html.DisplayFor(modelItem => item.DeletedOn)</td>
                            <th>@Html.DisplayFor(model => item.IsDelete)</th>*@

                        <td>

                            <div class="hidden-sm hidden-xs btn-group">
                                <a class="btn btn-success btn-sm" asp-action="Edit" asp-route-id="@item.SkillLevelId">
                                    Edit
                                </a>

                                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.SkillLevelId">
                                    Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                } }
        </tbody>
    </table>
</div>